language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - 7.1

env:
  - SYMFONY_VERSION=2.8.*
  - SYMFONY_VERSION=3.2.*
  - SYMFONY_VERSION=dev-master

before_script:
  - composer require symfony/symfony:${SYMFONY_VERSION}

matrix:
  allow_failures:
    - env: SYMFONY_VERSION=dev-master
  exclude:
    - env: SYMFONY_VERSION=dev-master
      php: 5.4
    - env: SYMFONY_VERSION=3.2.*
      php: 5.4
