<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" bootstrap="Tests/bootstrap.php">
    <testsuites>
        <testsuite name="Wa72JsonRpcBundle Test Suite">
            <directory suffix="Test.php">./Tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./</directory>
	    <exclude>
		<directory>./Resources</directory>
		<directory>./Tests</directory>
		<directory>./vendor</directory>
	    </exclude>
        </whitelist>
    </filter>
</phpunit>
